    <!-- Page Sidebar Header-->
<!--<div class="" style="height: 40px;background-color: #2dc3e8;color: #2dc3e8">-->
    <!--<div style="border: 1px solid #2dc3e8; height:100px; width:200px;" >-->
    <!--<input type="text" class="searchinput" />-->
    <!--<i class="searchicon fa fa-search"></i>-->
    <!--<div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>-->
<!--</div>-->
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Medical Knowledge-->
    <!-- <li ui-sref-active="active">
        <a ui-sref="app.mkdisease" class="menu-dropdown" ng-click="sidebarClicked('Disease')">
           
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> 医疗百科 </span>
         
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.mkdisease" ng-click="sidebarClicked('Disease')">
                    <span class="menu-text">疾病</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mksymptom" ng-click="sidebarClicked('Symptom')">
                    <span class="menu-text">症状</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mkmedication" ng-click="sidebarClicked('Medication')">
                    <span class="menu-text">药品</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mklab" ng-click="sidebarClicked('Lab')">
                    <span class="menu-text">辅助检查</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mkmedicare" ng-click="sidebarClicked('Medicare')">
                    <span class="menu-text">医保药品</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.mkclinicalpathway" ng-click="sidebarClicked('Clinicalpath')">
                    <span class="menu-text">临床路径</span>
                </a>
            </li>
        </ul>
    </li> -->
    <!--Knowledge Graph-->
  <!--   <li ui-sref-active="active">
        <a ui-sref="app.knowledgeGraph">
            <i class="menu-icon glyphicon glyphicon-globe"></i>
            <span class="menu-text"> 医疗知识图谱 </span>
        </a>
    </li> -->
    <!--Statistic-->
    <li>
        <a ui-sref="app.similarPatientsMed" class="menu-dropdown">
            <!--<a ui-sref="app.simpletables">-->
                <i class="menu-icon fa fa-stethoscope"></i>
                <span class="menu-text"> 医生决策支持 </span>
            <!--</a>-->
            <i class="menu-expand"></i>
        </a>

        <ul class="submenu">
           <!--  <li ui-sref-active="active">
                <a ui-sref="app.patientClinicalPathway">
                    <span class="menu-text">患者信息展示</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.diseaseCause">
                    <span class="menu-text">疾病风险预测</span>
                </a>
            </li> -->
            <li ui-sref-active="active">
                <a ui-sref="app.similarPatientsDia">
                    <span class="menu-text">相似患者诊断分析</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.similarPatientsMed">
                    <span class="menu-text">相似患者用药分析</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<!-- /Sidebar Menu -->
